/* COLOR SCHEME
main-blue: #42B2FA;
gray: #EDEDED;
red: #FF5964;
darker-gray: #948D9B
purple: #351431;
*/

/* SEMANTIC */
.column {
  background-color: rgb(207, 207, 207);
}

.segment-top {
  background-color: #EDEDED!important;
}
/* GLOBAL */
body {
  background-color: #FFFFFF;
}

/* HEADER */
header {
  background-color: #42B2FA;
}

#header-logo {
  width: 20rem;
  padding: 1rem;
}

#header-box {
  margin-top: 2rem;
}

/* CARDS */

.ui.card, .ui.cards>.card {
  background: #42B2FA;
}

/* FOOTER */

footer {
  background-color: rgb(252, 252, 252);
  margin-top: 5rem;
}

#footer-logo {
  height: 200px;
  margin-left: 2rem;
  margin-top: 1rem;
}

